/* style.css */

body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

.card p {
    font-size: 18px;
    color: #343a40;
}

.card h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.btn-sm {
    font-size: 14px;
}

/* Additional styling for the welcome message */
.welcome-message {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}
